body {
    background-color: #fff;
    text-align: center;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    width: 70%;
    padding: 1em;
    border: solid 1px #ddd;
    margin: auto;
}

h1 {
    color: steelblue;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin: 10px 5px;
}

.p1 {
    font-weight: bold;
    font-weight: 16px;
    color: rgb(17, 73, 73);
    text-align: justify;
    padding: 0;
    margin: 5px;
}

.cube {
    width: 300px;
    height: 300px;
    border: solid 5px black;
    margin: auto;
    margin-top: 50px;
    background-color: steelblue;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .8);
}
